body{
      background-color: black;
      color: white;
      font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.start-page img{
      margin-top: 85px;
      width: 85%;
      height: 85%;
}
.start-page{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-size: 20px;;
      margin: 0;
      font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      
}

.button-40 {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      background-color: black;
      border: 1px solid  white;
      border-radius: .75rem;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      flex: 0 0 auto;
      font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.5rem;
      padding: .75rem 1.2rem;
      text-align: center;
      text-decoration: none #6B7280 solid;
      text-decoration-thickness: auto;
      transition-duration: .2s;
      transition-property: background-color,border-color,color,fill,stroke;
      transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
    }
    
    .button-40:hover {
      background-color: #1e2024;
    }
    
    .button-40:focus {
      box-shadow: none;
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    
    @media (min-width: 768px) {
      .button-40 {
        padding: .75rem 1.5rem;
      }
    }

    #menu {
      
      display: none;
      color: white;
  }
  * {
    box-sizing: border-box;
  }
  :root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
  }

  #name{
      margin-top: 30px;
      color: #6B7280;
      font-size: 12px;
  }

  .fade-out {
      opacity: 0;
      transition: opacity 0.5s ease-out; 
  }


  .dropbtn {
      background-color: black;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 1px solid white;
      border-radius: 5%;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 108px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #3c0606;}
    
    .dropdown:hover .dropdown-content {display: block;}

    .slidecontainer {
      width: 100%;
      color: white      ;
  }
  
  .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
  }
  
  .slider:hover {
      opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 23px;
      height: 24px;
      border: 0;
      cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
      width: 23px;
      height: 24px;
      border: 0;
      cursor: pointer;
  }
    
  input[type="text"] {
      background-color: black;
      color: white; 
      border: 0.5px solid white; 
      padding: 5px; 
      border-radius: 5px; 
    }

.ch{

      margin-top: 10%;
      display: flex;
      justify-content: space-around;
}

.input-popup {
      position: absolute;
      top: 35%;
      display: none;
      margin-left: 37%;
    }

#uploadButton{
      margin-left: -3.5%;
}

